# Python
__pycache__/
*.pyc
*.pyo
bot_store.json
telegram_listener_offset.txt
listener_crash.log
junk_signatures.json
Komik/
merged_sources/
enhanced_images/
source/
comics/
*.epub
*.pdf
notification_config.json

# Flutter/Dart
.dart_tool/
.packages
build/
*.lock
*.iml
.idea/
.vscode/
*.g.dart
*.freezed.dart
